:root {
    background-color: #22212C;
    color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

.container {
    display: flex;
    width: 100vw;
    padding: 40px
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    flex: 1;
    font-family: 'Merriweather Sans';
}

.profile {
    width: 348px;
    border-radius: 20px;
    padding-top: 32px;
    background-color: #302F3D;
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 49px;
}

.profile img {
    height: 128px;
    width: 128px;
    border-radius: 50%;
    border: 3px solid #00FF00;
    top: 72px;
    margin-left: -7px;
    margin-bottom: 15px;
}

.profile p {
    font-size: 23px;
    font-weight: 700;
    font-family: 'Merriweather Sans', Times, serif;
    padding: 0 76px;
}

.profile h3 {
    font-family: 'Merriweather Sans', Times, serif;
    font-size: 13px;
    font-weight: 300;
    margin-top: 8px;
}

nav {
    width: 348px;
    background-color: #302F3D;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 15px;

}

nav ul {
    margin-left: 30px;
    line-height: 30px;
    list-style: none;
}

nav li {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-family: Merriweather Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    padding-bottom: 29px;
}

nav img {
    width: 24px;
    height: 24px;
    margin-right: 20px;
}
/* nav li {
    list-style: none;
} */
/* Stacks / Conhecimentos */

.stacks {
    display: flex;
    flex-direction: column;
    width: 348px;
    height: 100%;
    background-color: #302F3D;
    border-radius: 20px;
    margin-top: 15px;
    justify-content: center;
    padding: 30px;
}

.stacks h1 {
    font-size: 20px;
    color: #837E9F;
    margin-bottom: 20px;
    margin-left: -10px;
}

.stacks-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.stacks span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CB92B1;
    border-radius: 30px;
    padding: 6px;
    white-space: nowrap;
    color: #000;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Experiências */ 


.experience {
    background-color: #302F3D;
    width: 348px;
    height: 100%;
    margin-top: 15px;
    padding: 30px;
    border-radius: 20px;
    color: #837E9F;
    font-family: 'Merriweather Sans', Times, serif;
}

.experience h2 {
    margin-left: -10px;
}

.experience ul {
   display: flex;
   flex-direction: column;
   align-items: initial;
   margin-left: 40px;
   padding-top: 6px;
}

.experience li {
    font-weight: 700;
    padding-top: 14px;
}

.experience span {
    font-style: normal;
    font-size: 12px;
    font-weight: 300;
}

.experience .cargo {
    font-weight: 700;
}
/* Educação / Escolaridade */


.education {
    background-color: #302F3D;
    width: 348px;
    height: 100%;
    margin-top: 15px;
    padding: 30px;
    border-radius: 20px;
    color: #837E9F;
    font-family: 'Merriweather Sans', Times, serif;
}

.education h2 {
    margin-left: -10px;
}

.education ul {
   display: flex;
   flex-direction: column;
   align-items: initial;
   margin-left: 40px;
   padding-top: 6px;
}

.education li {
    font-weight: 700;
    padding-top: 14px;
}

.education span {
    font-style: normal;
    font-size: 12px;
    font-weight: 300;
}

.education .cargo {
    font-weight: 700;
}
/* Conteudo da página */

.content {
    display: flex;
    flex: 3;
    width: 100vh;
    margin-left: 60px;
    margin-right: 20px;
}

.myprojects {
    width: 952px;
    height: 86px;
    background-color: #302F3D;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.list-projects {
    width: 952px;
    height: 186px;
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}
/* Projeto 1*/


.project1 {
    width: 461px;
    height: 186px;
    background-color: #302F3D;
    border-radius: 20px;
    padding-left: 30px;
}

.name-project{
    display: flex;
    align-items: flex-end;
    padding-top: 31px;
    margin-bottom: 22px;
}

.name-project p {
    padding-left: 16px;
}

.project1 .description-project{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.footer-div-project{
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
}

.stars-branch{
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.stars-branch img{
    width: 20px;
    height: 20px;
}

.footer-div-project span{
    padding-left: 8px;
    padding-right: 8px;
    font-family: 'Merriweather Sans';
    font-size: 14px;
    font-weight: 400;
    text-align: center;

}

.elippse {
    width: 15px;
    height: 15px;
    background: #E7DE79;
    border: 2px solid #837E9F;
    border-radius: 40%;
    display: inline-block;
}

.language {
    display: flex;
    align-items: center;
    margin-top: 12px;
}
/* Projeto 2 */ 


.project2 {
    width: 461px;
    height: 186px;
    background-color: #302F3D;
    border-radius: 20px;
    padding-left: 30px;
}

/* Postagem Recentes */

.recent-posts {
    width: 952px;
    height: 86px;
    background-color: #302F3D;
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
}

.last-post {
    width: 952px;
    height: 201px;
    border-radius: 20px;
    background-color: #302F3D;
    margin-top: 30px;
    display: flex;
}

.photo-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 31px 20px 42px 30px;
}

.photo-post img{
    height: 128px;
    width: 128px;
    border-radius: 50%;
}

.postname-and-date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.postname-and-date h3 {
    font-family: 'Merriweather Sans',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22.63px;
}

.postname-and-date .date-post{
    padding-top: 10px;
    font-family: 'Merriweather Sans',sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.6px;

}

.postname-and-date p {
    margin-top: 28px;
    font-family: 'Merriweather Sans',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.11px;
}

.hashtags-post{
    display: flex;
    margin-top: 11px;
}

.hashtags-post span{
    margin-right: 20px;
    font-family: 'Merriweather Sans',sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.6px;
}

/* Footer */

.daniel-santos{
    width: 100%;
    display: flex;
    justify-content: center;
}

.daniel-santos span{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    font-weight: 900;
}

